.titleBox {
    width: 100%;
    height: 7%;
    left: 0%;
    position: absolute;
    top: 0;
    z-index: 8;
    box-shadow: 0 10px 10px -8px grey;
    background: white;
}

.titleBox .right div,
.titleBox .left div {
    margin: 0 10px 0 10px;
}

.titleBox .left svg:hover,
.titleBox .right svg:hover {
    border: 1px solid grey;
    background-color: #abadab;
}

.titleBox .left svg:active,
.titleBox .right svg:active {
    border: 1px solid #adabad;
    background-color: grey;
}

.titleBox .left {
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.titleBox .right {
    float: left;
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.titleBox .left svg,
.titleBox .right svg {
    width: 45px;
    height: 45px;
    margin-top: 12px;
    border-radius: 8px;
    border: 1px solid transparent;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.titleBox .left.open {
    justify-content: flex-end;
}
.titleBox .left.closed {
    justify-content: flex-start;
}
.titleBox .left.closed svg {
    transform: rotate(180deg);
}
.titleBox .left.open svg {
    transform: rotate(0deg);
}

.titleBox .right.open {
    justify-content: flex-start;
}
.titleBox .right.closed {
    justify-content: flex-end;
}
.titleBox .right.closed svg {
    transform: rotate(0deg);
}
.titleBox .right.open svg {
    transform: rotate(180deg);
}

.titleBox .center {
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
}
.titleBox .center h1 {
    margin: 0;
    padding-top: 15px;
}