.editor {
    background: gray;
}

.editor .titleBox {
    width: 50%;
    height: 7%;
    left: 25%;
    position: absolute;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 8;
    box-shadow: 0 10px 10px -8px grey;
    background: white;
}

.editor .titleBox h1 {
    margin: 0;
}